*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
 
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(/images/developer.png),url(/images/header_bg.png),#FFF8F3;
    background-position:23px 38px,bottom right;
    background-repeat: no-repeat;

}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orange{
    color: #FD6E0A;
}
.logo{
    font-size: 45px;
   font: weight 900px;
}
.sabid{
   display: flex;
    list-style: none;
    gap: 51px ;
    align-items: center;
}
nav .sabid{
    font-size: 20px;
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
  font-weight: bold ;
  /* text-decoration-color: white; */
  color: white;
  cursor: pointer;
}
.scetion-hedding{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.scetion-hedding h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.scetion-hedding p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
#banner{
    /* border: 2px solid red; */
    margin: 47px 38px 0px 231px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
} 
#banner .content-banner{
    max-width: 585px;
}
#banner .content-banner h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
#banner .content-banner h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
#banner .content-banner p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-img{
    max-width: 584px;
    vertical-align: middle;
}
#about,#skills,#sabid{
    padding-top: 130px;
}
#about .about-containar{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
  #about .about-info{
    display: flex;
   justify-content: space-around;
  }
.about-info p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.info-card h4{
    font-size: 20px;
    color:#474747 ;
    line-height: 30px;
}

.skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skill-box{
    display: flex;
    gap: 24px;
   
}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    /* border: 1px solid white; */
    box-shadow: 0 6px 50px 0 #0000009c;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: bold;
    color: #181818;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}
.resume-container{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 113px auto 0;
    gap: 24px;
    
}
.sabid1{
    font-size: 30px;
   /* font-weight: bold; */
   color: #474747;
   margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.sabid2{
    font-size: 25px;
    color:#474747;
    margin-top: 10px;
    font-weight: bold;
}
.s3{
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
    font-weight: 600;
}
.s4{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    /* margin-bottom: 60px; */
}
.resume-container hr{
    margin: 30px 0;
}
.resume-container{
    display: flex;
    text-align: center;
}
.shakil{
    text-align: center;
}
.shakil1{
    text-align: center;
    margin: 50px;
}
.footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0px;
}

 .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-h h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 34px;
}
.footer-h{
    width: 562px;
}
.footer-h p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
.icons a {
   margin-right:24px ;
}

form h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 28px;
}
.footer-container form input[type="text"],
.footer-container form textarea{
   width: 461px;
   padding: 18px 30px;
   margin-bottom: 24px;
   border: none;
   border-radius: 5px;
   color:#757575;
}
